<div>
  <h1>F.A.Q.</h1>
  <br />
  <div>
    <ul class='list-unstyled'>
      <li class='list-group-item'> 
        <b>What is a Ward?</b><br />
        <span>A ward is something you can buy that when placed grants vision in a given area on the map<span>
      </li>
      <li class='list-group-item'> 
        <b>What is the difference between the trinket ward and the vision ward?</b><br />
        <span>The trinket ward grants vision for a given amount of time and cannont be seen by the enemy. The vision ward is permanent but can be see and destroyed by the enemy.<span>
      </li>
      <li class='list-group-item'> 
        <b>What does this website do?</b><br />
        <span>It aggregates data of League of Legends games<span>
      </li>
    </ul>
  </div>
</div>