<div>
  <h1>Wards OP</h1>
  <br />
  <div class='form-inline'>
    <form action='/search' mothod='post'>
      <label for="sel1">Region</label>
      <select class="form-control" id="region">
        <option>BR</option>
        <option>EUNE</option>
        <option>EUW</option>
        <option>LAN</option>
        <option>LAS</option>
        <option selected='selected'>NA</option>
        <option>OCE</option>
        <option>RU</option>
        <option>TR</option>
      </select>
      <input type="text" class="form-control" name='accounts' id="summoner-name" placeholder="Summoner Name">
      <button type="submit" class="btn btn-default inline-block">Search</button>
    </form>
  </div>
</div>